# Only for Docker Deployment

BOT_TOKEN=6069038778:AAEQc0Rv-ClYxnl-TjFdzTKkXGi6KT92vdc # Get it from @botfather

API_ID=24109419

API_HASH=463a050c970a3759c9b8c6577bb4bd1c

SESSION_STRING=BQFv4WsAjdE2ycMBC8OGEZcGuh3zuvk0umU2SoATBrKEwYHY_SAPB-abIcm6E3vRufKdB5CsC839V61Nt-OUq5TAlVbt8yxa5h21Lv9_kVP518IqiKsUFMlxV8PCYeJ2HCXxWiZE-OSPXZ3E4Yl8cTpq3mRK_l0H3mXVH0K76Yn-N84MDxKbUQwU25HVbNEupoN8RbLQ20oHZfv1Y6yM1FQUycr3J-7Yv4HpLt6STFmdznbMms3paPN3RMn_BYY37hfG3EXpp5v5x-nZ187lXmIitO8mSHHA36JnMaaaPO92jHrnHvtk4tpTCpAW73HFrNNiKQSrklZfkdtIJQnQG6rn6H4t2wAAAAFo2A9KAA # Check Readme to generate sessions

USERBOT_PREFIX=.

SUDO_USERS_ID=6145782184, 5838967403 # Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-1001988956511

GBAN_LOG_GROUP_ID=-1001988956511

FMUTE_LOG_GROUP_ID=-1001988956511

MESSAGE_DUMP_CHAT=-1001988956511

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=mongodb+srv://nguhanh69:nguhanh69@nguhanh69.uz300nq.mongodb.net/?retryWrites=true&w=majority

ARQ_API_URL=https://arq.hamker.in # Leave it like this

ARQ_API_KEY=ZTGFTF-WOMEHD-QQIWVN-KRSBUB-ARQ # Get it from @ARQRobot

LOG_MENTIONS=0 # Make it 1 if you want to enable it

RSS_DELAY=300 # In seconds

PM_PERMIT=0 # fill 0 to disable it
